<%- include("partials/header.ejs") %>
<style>
  /* Add this to your stylesheet or in a style tag in the head of your HTML file */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.blog-title {
  margin-top: 30px;
}

.create-button {
  color: #fff;
  background-color: #007bff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 20px;
}

.post-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
}

.post-item {
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

.post-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.post-buttons {
  margin-top: 20px;
}

.edit-button,
.delete-button {
  background-color: #007bff;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 10px;
}

.delete-form {
  display: inline;
}

</style>

<div style="display: flex; flex-direction: column; align-items: center; min-height: 100vh; position: relative;">

  <h1 class="b" style="margin-top: 30px;">Blog</h1>

  <button onclick="location.href='/create'" style="color: #fff; background-color: #007bff; border: 1px solid transparent; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; cursor: pointer; margin-top: 20px;">Create a new post</button>

  <ul style="list-style: none; padding: 0; flex-grow: 1; overflow-y: auto; width: 80%; max-width: 800px; margin-top: 20px;">
    <% posts.forEach(post => { %>
      <li style="margin-bottom: 20px; text-align: center; border: 1px solid #ddd; padding: 20px; border-radius: 10px;">
        <h3><%= post.content %></h3>
        <% if (post.image) { %>
          <img src="data:image/png;base64,<%= post.image %>" alt="Post Image" style="max-width: 80%; height: auto; margin-top: 10px;">
        <% } %>
        <div style="margin-top: 20px;">
          <button onclick="location.href='/edit/<%= post.id %>'" style="background-color: #007bff; color: #fff; border: 1px solid transparent; padding: 0.375rem 0.75rem ;font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; cursor: pointer; margin-right: 10px;">Edit</button>
          <form method="post" action="/delete/<%= post.id %>" style="display:inline;">
            <button type="submit" style="background-color: #dc3545; color: #fff; border: 1px solid transparent; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; cursor: pointer;">Delete</button>
          </form>
        </div>
      </li>
    <% }); %>
  </ul>

  <%- include("partials/footer.ejs") %>
</div>
